@media (min-width: 500px){
	body{
		background:lightgreen;
	}
}
body{
	color: black;
	background: white;
	font-size: 16px;
	font-family: sans-serif;
	padding: 10px;
	margin:40px;
	border: 20px;
	box-sizing: 
}
a{
	color:red;
}
a:hover{
	color:black;
}
p{
	color:black;
	font-size:16px;
	font-family: sans-serif;
}
#snap{
	float:right;
}
